# EditorConfig is awesome: http://EditorConfig.org
# Download a plugin for your favorite editor from http://editorconfig.org/#download

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.sh]
insert_final_newline = true
indent_style = tab

[*.md]
trim_trailing_whitespace = false
